# 1. Abaikan semua file dan folder di root proyek
*

# 2. JANGAN abaikan file .gitignore dan vercel.json
!.gitignore
!vercel.json

!docs/
!docs/**
!write/
!write/**
!journey_templates/
!journey_templates/**

!main.py
!requirements.txt
